/* regole per l'introduzione */

.introduzione {
  padding: 2%;
}

/* regole per il design delle attività */

.attivita {
  padding: 2% 5% 5% 5%;
  width: 100%;
  text-align: center;
}

.attivita h1 {
  color: #3F6C9D;
}

.riga-attivita {
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

.colonna-attivita {
  margin-right: 2%;
  flex: auto;
  width: 50%;
  display: flex;
  align-items: center;
}

.colonna-attivita img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 27px -10px #000000;
}

.colonna-attivita p {
  text-align: center;
  font-size: 17px;
}