body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: aliceblue;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    color: lightseagreen;
    animation: pulse 2s;
    text-align: center;
    margin-top: 50px;
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px #ccc;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 35%;
}

.button {
    background-color: rgba(0, 0, 255, 0.2);
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 80%;
}

.button:hover {
    background-color: rgba(186, 85, 211, 0.6);
}

.logout-button {
    background-color: rgba(255, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-button {
    background-color: rgba(0, 128, 0, 0.2);
}

.subscription-button {
    background-color: rgba(138, 43, 226, 0.2);
}

.cancel-button {
    background-color: rgba(186, 85, 211, 0.2);
}

.cancel-button:hover {
    background-color: rgba(186, 85, 211, 0.6);
}

.confirmation-modal {
    display: none;
    padding: 20px;
    border: #BA55D399 3px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

.confirmation-modal .message {
    margin-bottom: 10px;
    color: darkred;
}

.confirmation-modal .buttons {
    text-align: center;
}

.confirmation-modal .buttons button {
    margin-right: 10px;
}


.activity-list-item input[type="checkbox"] + span {
    color: #333;
}

.activity-list-item input[type="checkbox"]:checked + span {
    color: lightcoral;
    font-weight: bold;
}

.activity-list-item {
    margin-bottom: 10px;
}

.activity-list-item label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.activity-list-item input[type="checkbox"] {
    margin-right: 10px;
}


ul li {
    margin-left: -30px;
    list-style-type: none;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

ul li:hover {
    background-color: #ffa500;
    color: #fff;
}






