body {
    background-color: #f2f2f2;
}

#h1contatti {
    text-align: center;
    font-size: 42px;
    margin-top: 5%;
}

#h2contatti {
    text-align: center;
    font-size: 15px;
    margin-bottom: 2%;
    line-height: 1.5;
}

form {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(135, 206, 250, 0.08);
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

label {
    margin-left: 5%;
    display: block;
    margin-top: 15px;
    font-size: 17px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 90%;
    margin-left: 5%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.button-cont{
    margin-left: 25%;
}
input[type="submit"],
input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #5B9BE1;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;

}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #5B9BE1;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

input[type="submit"]:focus,
input[type="reset"]:focus {
    outline: none;
}

@keyframes buttonAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}