/* regole per i paragrafi*/

#p1 {
    position: relative;
    top: 100px;
    padding-bottom: 140px;
}

/* regole per le immagini*/

#img1 {
    float: left;
    margin-right: fill;
    size: auto;
    padding-right: 10px;
}

#img2 {
    float: right;
    margin-left: auto;
    size: auto;
    padding-left: 10px;
    padding-bottom: 10px;
}