
h1 {text-align: center;
    padding: 10px;
}
p {text-align: center;  margin-top: 10px; margin-bottom: 10px}

form {
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}


label {
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;

}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    align-items: center;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button[type="reset"] {
    align-items: center;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #dd420e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 300px;
}

.radio-group {
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
}
.istruzioni{
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: left;
    font-size: small;
}

ul {
    list-style-type: circle; /* Tipo di marcatore */
    color: black; /* Colore del marcatore */
    font-size: small; /* Dimensione del testo */
    margin-left: 20px; /* Margine sinistro */
}

li {
    margin-bottom: 5px; /* Margine inferiore tra le voci */
}

